<div>
    <h3>Desafio Sinacor - Calculadora de CDI - B3</h3>
    <form>
        <label for="value">Valor a ser depositado:</label>
        <input type="number" [formControl]="value" id="value" required>
        <label for="month">Quantidade de Meses:</label>
        <input type="number" [formControl]="months" id="months" required>
    </form>
    <br>
    <button (click)="submit()">Calcular</button>
    @if (showErrorModal) {
    <dialog open>
        <article>
            <h2>⛔ Erro</h2>
            <p>
                {{messageErrorModal}}
            </p>
            <footer>
                <button (click)="closeError()">Fechar</button>
            </footer>
        </article>
    </dialog>
    }
</div>