/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Helvetica', Courier, monospace;
}

h3 {
    text-align: center;
}

main {
    width: 50dvw;
    height: 100dvh;
    align-content: center;
    margin: 0 auto;
}