/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Helvetica', Courier, monospace;
}

h3 {
    text-align: center;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
}

form > div {
    align-content: center;
    width: 100%;
}

main {
    width: 60dvw;
    height: 100dvh;
    align-content: center;
    margin: 0 auto;
}

table {
    margin-top: 1rem;
}